.content {
  grid-area: kontent;
}

.bgPhoto {
  width: 100%;
  height: 120px;
  background-image: url(https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/tnc_16935516.jpg?crop=0%2C235%2C4000%2C2200&wid=4000&hei=2200&scl=1.0);
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}