* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-wrapper {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
    grid-template-areas:
        "header header"
        "nav kontent";
}

.contentStyle{
    border-top: 3px solid rgb(0, 242, 255);
    border-bottom: 3px solid rgb(0, 242, 255);
    border-radius: 20px;
    background: ghostwhite;
    width: 100%;
}